aiohttp==3.8.4
alt-profanity-check==1.2.1
beautifulsoup4==4.11.2
black==23.1.0
deepl_translate==1.2.0
humanize==4.6.0
isort==5.12.0
playwright==1.31.1
pubchempy==1.0.4
py-cord==2.4.1
python-dotenv==1.0.0
wikipedia==1.4.0