aiohttp==3.8.4
beautifulsoup4==4.12.2
black==23.3.0
deepl_translate==1.2.0
humanize==4.6.0
isort==5.12.0
pubchempy==1.0.4
py-cord==2.4.1
python-dotenv==1.0.0
selenium==4.10.0
undetected-chromedriver==3.4.7
wikipedia==1.4.0